127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{hosts.master.ip}} {{hosts.master.name}} {{hosts.master.dns}}
{{hosts.worker01.ip}} {{hosts.worker01.name}} {{hosts.worker01.dns}}
{{hosts.worker02.ip}} {{hosts.worker02.name}} {{hosts.worker02.dns}}
{{hosts.nfs.ip}} {{hosts.nfs.name}} {{hosts.nfs.dns}}